<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.TutorApp">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalStudent">

        <activity
            android:name=".ModuleActivity"
            android:label="Adding New Module"
            android:parentActivityName=".MaintainModule" />

        <activity
            android:name=".HomeActivity"
            android:label="Home"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".StudentActivity"
            android:label="Student Registration"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TutorActivity"
            android:label="Tutor Registration"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="Log in"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllModulesActivity"
            android:label="All modules"
            android:parentActivityName=".HomeActivity"
            />
        <activity android:name=".SelectedTutor"
            android:label="Selected Tutor"
            android:parentActivityName=".AllModulesActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".PendingTutors"
            android:label="Pending Approval"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".AdminApproval"
            android:label="Approval"
            android:parentActivityName=".PendingTutors"/>
        <activity android:name=".Rating"
            android:label="Rating"/>
        <activity android:name=".SelectedTutorCreate"
            android:label="Profile"
            android:parentActivityName=".SelectedTutor"/>
        <activity android:name=".TutorProfile"
            android:label="Profile"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".MaintainModule"
            android:label="Maintain Module"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".UpdateModule"
            android:label="Update Module"
            android:parentActivityName=".MaintainModule"/>

    </application>

</manifest>